# 1.How to iterate over a list in python?
##Ans:List Can be Iterate by index

In [13]:
list1=["A","B","C","D"]

print("Usin For Loop1")
for i in list1:
    print(i)

print("Usin For Loop2")
for i in range(len(list1)):
    print(list1[i])
    
print("While Loop3")
i=0
while i < len(list1):
    print(list1[i])
    i+=1

Usin For Loop1
A
B
C
D
Usin For Loop2
A
B
C
D
While Loop3
A
B
C
D

# 2. How to iterate over a dict in python?
It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary).

In [72]:
print("#"*30)
db={"Name":["Nilesh","Jhon","Tom","Sam"],"Roll_No":[1,2,3,4],"Salary":[1000,2000,3000]}
print(db)
for i in db.keys():
    print(i)#Key
print("#"*30)
for i,j in db.items():
    print(i,j)
print("#"*30)
for i,j in db.items():
    if i=="Name":
        print(j)        
for i,j in db.items():
    if i=="Roll_No":
        print(j)
for i,j in db.items():
    if i=="Salary":
        print(j)
print("*"*30)      
for i, j in db.items():
    print(j)

##############################
{'Name': ['Nilesh', 'Jhon', 'Tom', 'Sam'], 'Roll_No': [1, 2, 3, 4], 'Salary': [1000, 2000, 3000]}
Name
Roll_No
Salary
##############################
Name ['Nilesh', 'Jhon', 'Tom', 'Sam']
Roll_No [1, 2, 3, 4]
Salary [1000, 2000, 3000]
##############################
['Nilesh', 'Jhon', 'Tom', 'Sam']
[1, 2, 3, 4]
[1000, 2000, 3000]
******************************
['Nilesh', 'Jhon', 'Tom', 'Sam']
[1, 2, 3, 4]
[1000, 2000, 3000]

## 3. Define list of tuples with size 4?

In [77]:
list2=[('Swordfish', 'Dominic Sena', 2001), ('Snowden', ' Oliver Stone', 2016), ('Taxi Driver', 'Martin Scorsese', 1976)]
for i in range(len(list2)):
    print(list2[i])

('Swordfish', 'Dominic Sena', 2001)
('Snowden', ' Oliver Stone', 2016)
('Taxi Driver', 'Martin Scorsese', 1976)