# Series Of object in Pandas

In [2]:
import pandas as pd
data=[1,2,3,4]
series1=pd.Series(data)
series1

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
type(series)

pandas.core.series.Series

In [5]:
#Changing index of a series
series1=pd.Series(data, index = ['a','b','c','d'] )
series1

a    1
b    2
c    3
d    4
dtype: int64

# How to create dataframe

In [7]:
#Creating dataframe using List
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
#creating dataframe using dicttionery
dictionery={'fruit':['Apple','Banana','Mangoes'],'count':[20,30,40]}
df = pd.DataFrame(dictionery)
df

     fruit  count
0    Apple     20
1   Banana     30
2  Mangoes     40

In [9]:
#Creating dataframe from series
series=pd.Series([6,12],index=['a','b'])
df=pd.DataFrame(series)
df

    0
a   6
b  12

In [12]:
#creating dataframe from numpy array
import numpy as np
numpyarray=np.array([[50000,100000],['John','Jems']])
df = pd.DataFrame({'name':numpyarray[1],'salary':numpyarray[0]})
df

   name  salary
0  John   50000
1  Jems  100000

# How to Perform Merge operation on Dataframe

In [19]:
import pandas as pd
players=['player1','player2','player3']
point=[8,9,10]
title=['Game1','Game2','Game3']
df1=pd.DataFrame({'Player':players,'Point':point,'Title':title})
df1

    Player  Point  Title
0  player1      8  Game1
1  player2      9  Game2
2  player3     10  Game3

In [20]:
players=['player5','player6','player7']
power=['Punch','kick','Elbow']
title=['Game1','Game6','Game7']
df2=pd.DataFrame({'Player':players,'Power':power,'Title':title})
df2

    Player  Power  Title
0  player5  Punch  Game1
1  player6   kick  Game6
2  player7  Elbow  Game7

In [23]:
df1.merge(df2,on='Title',how='inner')

  Player_x  Point  Title Player_y  Power
0  player1      8  Game1  player5  Punch

In [24]:
#left Merge
df1.merge(df2,on='Title',how='left')

  Player_x  Point  Title Player_y  Power
0  player1      8  Game1  player5  Punch
1  player2      9  Game2      NaN    NaN
2  player3     10  Game3      NaN    NaN

In [25]:
#right Merge
df1.merge(df2,on='Title',how='right')

  Player_x  Point  Title Player_y  Power
0  player1    8.0  Game1  player5  Punch
1      NaN    NaN  Game6  player6   kick
2      NaN    NaN  Game7  player7  Elbow

In [26]:
#outer merge
df1.merge(df2,on='Title',how='outer')

  Player_x  Point  Title Player_y  Power
0  player1    8.0  Game1  player5  Punch
1  player2    9.0  Game2      NaN    NaN
2  player3   10.0  Game3      NaN    NaN
3      NaN    NaN  Game6  player6   kick
4      NaN    NaN  Game7  player7  Elbow

# How to perform Join Operation on dataframe in Pandas

In [32]:
players=['player5','player6','player7']
power=['Punch','kick','Elbow']
title=['Game1','Game6','Game7']
df3=pd.DataFrame({'Player':players,'Power':power,'Title':title},index=['L1','L2','L3'])
df3

     Player  Power  Title
L1  player5  Punch  Game1
L2  player6   kick  Game6
L3  player7  Elbow  Game7

In [36]:
players=['player5','player6','player7']
power=['Punch','kick','Elbow']
title=['Game1','Game6','Game7']
df4=pd.DataFrame({'Player':players,'Power':power,'Title':title},index=['L2','L3','L4'])
df4

     Player  Power  Title
L2  player5  Punch  Game1
L3  player6   kick  Game6
L4  player7  Elbow  Game7

In [37]:
df3

     Player  Power  Title
L1  player5  Punch  Game1
L2  player6   kick  Game6
L3  player7  Elbow  Game7

In [44]:
players=['player1','player2','player3']
point=[8,9,10]
title=['Game1','Game2','Game3']
df4=pd.DataFrame({'Player':players,'Point':point,'Title':title})
df4

    Player  Point  Title
0  player1      8  Game1
1  player2      9  Game2
2  player3     10  Game3